
@model Hotel_Booking.ViewModels.FeatureDetail
@{
    ViewData["Title"] = "Food and Drink Details";
}

<table class="table table-borderd table-striped table-hover">
    <thead>
        <tr>
            <th> ID </th>
            <th> Description </th>
            <th> Action </th>
        </tr>
    </thead>

    <tbody>
        @foreach(var feature in Model.features){
            <tr>
                <td>@feature.ID</td>
                <td style="max-width: 500px;">@feature.Description</td>
                <td>
                    <a asp-action="EditFoodDrink" asp-controller="AdminHotels" asp-route-foodDrinkId="@feature.ID" class="btn btn-primary">Edit</a>
                    |
                    <a asp-action="DeleteFoodDrink" asp-controller="AdminHotels" asp-route-foodDrinkId="@feature.ID" 
                        asp-route-hotelId="@Model.HotelID" class="btn btn-danger"
                        onclick="return confirm('Are you sure you want to delete this Feature?')">Delete</a>
                </td>
            </tr>
        }
    </tbody>

    <tfoot>
        <tr>
            <td colspan="3">
                <a class="btn btn-success" asp-controller="AdminHotels" asp-action="AddFoodDrink" asp-route-featureId="@Model.featureId">NEW</a>
            </td>
        </tr>
    </tfoot>
</table>

<div>
    <a asp-action="Details" asp-controller="AdminHotels" asp-route-hotelId="@Model.HotelID" class="btn btn-primary">Back to List</a>
</div>


@section PageStyle {
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/AdminHotelsFeature.css">
}