@model Hotel_Booking.ViewModels.AllHotelDetails
@{
    ViewData["Title"] = "Details";
}

<div class="body" style="padding: 20px 150px;">
    <div class="content1">
        <div class="hotelData">
            <div class="img" style="background-image: url(/Images/@Model.Hotel.Image);"></div>
            <div class="nameofhotel">@Model.Hotel.Name</div>
            <div class="address">
                <p>@Model.Hotel.Country, @Model.Hotel.City</p>
            </div>
            <hr>
            <div class="rating">
                <a href="#seeReviews"> <span style="color: black;">@Model.Rate/10 </span> see all @Model.ReviewsCount
                    reviews
                    ></a>
            </div>
            <div class="desc">
                @* <p>@Model.Hotel.Description</p> *@
                @Model.Hotel.Description
            </div>
        </div>

        @if (Model.Serviceswithicons.Count > 0)
        {
            <hr>
            <div class="feature-icons">
                <div class="part1">
                    @for (int i = 0; i < @Math.Min(5, @Model.Serviceswithicons.Count); i++)
                    {
                        <div class="icon">
                            @{
                                if (Model.Serviceswithicons[i].service == "Laundry Facility")
                                {
                                    <i class='@Model.Serviceswithicons[i].icon'></i>
                                }
                                else
                                {
                                    <i class="@Model.Serviceswithicons[i].icon"></i>
                                }
                            }
                            @Model.Serviceswithicons[i].service
                        </div>
                    }
                </div>

                <div class="part2">
                    @for (int i = 5; i < @Model.Serviceswithicons.Count; i++)
                    {
                        <div class="icon">
                            @{
                                if (Model.Serviceswithicons[i].service == "Laundry Facility")
                                {
                                    <i class='@Model.Serviceswithicons[i].icon'></i>
                                }
                                else
                                {
                                    <i class="@Model.Serviceswithicons[i].icon"></i>
                                }
                            }
                            @Model.Serviceswithicons[i].service
                        </div>
                    }
                </div>
            </div>
        }
    </div>


    @if (@Model.Facilities.Count > 0 || @Model.FunPrograms.Count > 0)
    {
        <div class="content2">
            @if (@Model.Facilities.Count > 0)
            {
                <div class="facility">
                    <h2> <i class="fa-solid fa-check"></i> Facilities</h2>
                    <ul>
                        @foreach (var service in @Model.Facilities)
                        {
                            <li>@service.Description</li>
                        }
                    </ul>
                </div>
            }

            @if (@Model.FunPrograms.Count > 0)
            {
                <div class="funprogram">
                    <h2> <i class='bx bxs-happy-alt'></i> Fun Programs</h2>
                    <ul>
                        @foreach (var service in @Model.FunPrograms)
                        {
                            <li>@service.Description</li>
                        }
                    </ul>
                </div>
            }

        </div>
    }

    @if (@Model.FoodDrinks.Count > 0 || @Model.Services.Count > 0)
    {
        <div class="content2">
            @if (@Model.FoodDrinks.Count > 0)
            {
                <div class="fooddrink">
                    <h2> <i class="fa-solid fa-utensils"></i> Food and Drink </h2>
                    <ul>
                        @foreach (var service in @Model.FoodDrinks)
                        {
                            <li>@service.Description</li>
                        }
                    </ul>
                </div>
            }

            @if (@Model.Services.Count > 0)
            {
                <div class="service">
                    <h2> <i class="fa-solid fa-bell-concierge"></i> Services </h2>
                    <ul>
                        @foreach (var service in @Model.Services)
                        {
                            <li>@service.Description</li>
                        }
                    </ul>
                </div>
            }
        </div>
    }


    @if (@Model.Rooms.Count > 0)
    {
        <div class="rooms">
            @foreach (var room in @Model.Rooms)
            {
                <div class="room">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                @{
                                    string Roomid = "carouselExampleIndicators" + room.RoomID.ToString();
                                }
                                <div id=@Roomid class="carousel slide" data-ride="carousel">
                                    @* <ol class="carousel-indicators">
                            @for (int i = 0; i < room.Images.Count; i++)
                            {
                            <li data-target="#@Roomid" data-slide-to="@i" class="@(i==0 ? "active" : "") ">
                            </li>
                            }
                            </ol> *@
                                    <div class="carousel-inner">
                                        @for (int i = 0; i < room.Images.Count; i++)
                                        {
                                            <div class="@(i==0 ? "carousel-item active" : "carousel-item") ">
                                                <img class="d-block w-100" src="~/RoomImages/@room.Images[i]" alt="">
                                            </div>
                                        }
                                    </div>
                                    <a class="carousel-control-prev" href="#@Roomid" role="button" data-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="carousel-control-next" href="#@Roomid" role="button" data-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-6">

                                <div class="row">
                                    <div class="col-md-12">
                                        <h4>Room Details</h4>
                                    </div>
                                </div>

                                <ul class="list-group">
                                    <li class="list-group-item"><span class="font-weight-bold">Room Number - </span>
                                        @room.RoomNumber</li>
                                    <li class="list-group-item"><span class="font-weight-bold">Number of Beds - </span>
                                        @room.BedCount
                                    </li>
                                    <li class="list-group-item"><span class="font-weight-bold">Price Per Night - </span>
                                        $@room.Price
                                    </li>
                                </ul>

                                <hr />

                                <div class="row">
                                    <div class="col-md-4">
                                        @{
                                            if (room.CheckOut.Date >= DateTime.Now.Date)
                                            {
                                                if (room.CheckIn.Date <= DateTime.Now.Date)
                                                {
                                                // You Booked This Room
                                                    <span style="color: red; font-weight: 600;">You Booked it !</span>
                                                }
                                                else
                                                {
                                                    // Cancel the booking
                                                    <a class="btn btn-outline-danger" asp-controller="Room" asp-action="CancelBookRoom"
                                                        asp-route-RoomID="@room.RoomID" asp-route-hotelId="@Model.Hotel.ID">
                                                        Cancel
                                                    </a>
                                                }
                                            }
                                            else
                                            {
                                                if (room.Booked == true)
                                                {
                                                // It's sold !
                                                    <span style="color: red; font-weight: 600;">It is sold !</span>
                                                }
                                                else
                                                {
                                                    <a class="btn btn-outline-primary" asp-controller="Room" asp-action="BookRoom"
                                                        asp-route-RoomID="@room.RoomID" asp-route-hotelId="@Model.Hotel.ID">
                                                        Reserve
                                                    </a>
                                                }
                                            }
                                        }

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <hr>
            }
        </div>
    }


    <div class="reviews" id="seeReviews">
        <div class="makereview">
            <span>Do You Want To Make a Review on this Hotel ?</span>
            @* <form asp-action="Review" asp-controller="Hotel" asp-route-hotelId="@Model.Hotel.ID" id="review-from">
            <input type="checkbox" asp-for="isVisited" id="visited" hidden>
            <a asp-action="Review" asp-controller="Hotel" asp-route-hotelId="@Model.Hotel.ID" class="btn
            btn-outline-primary" id="makeReviewLink">
            Make Review
            </a>
            </form> *@
            <a asp-action="Review" asp-controller="Hotel" asp-route-hotelId="@Model.Hotel.ID"
                class="btn btn-outline-primary" id="makeReviewLink">
                Make Review
            </a>
        </div>

        <hr>

        @foreach (var review in @Model.Reviews)
        {
            <div class="userReview">
                <p>@review.Rating/10 Very Good</p>
                <p>@review.Date</p>
                <p>
                    @review.Comment
                </p>
                <a asp-action="UserProfile" asp-controller="Home" asp-route-UserId="@review.UserId">@review.UserName</a>
                <hr>
            </div>
        }
    </div>

</div>


@section PageStyle {
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/HotelDetails.css">
        @* <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" /> *@
}

@section Scripts {

    <script>
        const form = document.querySelector('#review-form');
        const myButton = document.querySelector('#makeReviewLink');
        var isVisited = @Json.Serialize(Model.isVisited);
        myButton.addEventListener('click', (event) => {
            if (isVisited == false) {
                event.preventDefault(); // Prevent the form from submitting
                alert('You should visit this hotel at least once to make a review.'); // Show an alert message
                return;
            }
        });
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.10.2/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
